* {
  margin: 0;
  padding: 0;
}

.Header {
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: #eb3f3c;
  border-radius: 0 0 0.3rem 0.3rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.9);
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.Header .btnHeaderProfile {
  background-color: #eb3f3c;
  border : 1px solid #eb3f3c;
  padding: 0.5rem 1rem;
}

.Header .btnHeaderProfile:hover {
  background-color: aliceblue;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem 0.2rem;
  box-shadow: 0 2px 31px 0 rgba(255, 255, 255, 0.9);
}

.Header .btnHeader img {
  color: aliceblue;
}
