* {
  margin: 0;
  padding: 0;
}

.Drinks {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(245, 242, 238);

  /* height: 100vh; */
  justify-content: center;
  padding-bottom: 5rem;

}

.Drinks .alert {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(245, 242, 238);
  display: flex;
  font-size: 2.5rem;
  height: 100vh;
  justify-content: center;
  width: 100%;

}

.Drinks .DivCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 82%;

}

.Drinks .Card {
  margin: 0 0.1rem;
  transition: 0.2s;

}

.Drinks .Card:hover, .CardTitle:hover {
  backdrop-filter: blur(8px);
  background: transparent;

  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  border: 1px solid #eb3f3c;
  border-radius: 1.2rem 0;
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.2s;

}
