* {
  margin: 0;
  padding: 0;
}

.Foods {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.9);
  color: wheat;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
