* {
  margin: 0;
  padding: 0;
}

section {
  border: 1px solid salmon;
}

.footer {
  border: 1px solid black;
  bottom: 0;
  justify-content: flex-end;
  margin: 0.5rem auto;
  position: fixed;
  right: 41%;
}
